<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
<body>
        <h1><%= title %></h1>
        <a href="/">Login</a>
        <div id="demo">
                <%- include(templatePath)  %>
        </div>
        <footer>
            <h1><%= message %></h1>
        </footer>
</body>
<script type="module" src="<%= script  %>"></script>
</html>